passlib
pydantic-settings
python-jose
fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
email-validator
bcrypt==3.2.2
pytest
httpx
aiosmtplib
alembic

pytest-asyncio       # Для async тестов
pytest-cov           # Coverage отчёты
pytest-mock          # Моки (unittest.mock компактнее)
pytest-xdist         # Параллельный запуск тестов
