name: CI

on:
  pull_request:
    branches: [main, develop]

env:
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

jobs:
  validate-commits:
    name: Validate Commits & Version
    uses: ./.github/workflows/validate-commits.yml

  build-all:
    name: Build All
    needs: validate-commits
    uses: ./.github/workflows/build-all.yml

  test-all:
    name: Test All
    needs: build-all
    uses: ./.github/workflows/test-all.yml
